<!DOCTYPE html>

{% extends 'AutoRecorder/bootbase.html' %}

{% block title %}Recorder Dashboard{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="btn-group" style="flex-wrap: wrap" >
        {%for rwy in runways%}
            <a href="http://{{host}}/AutoRecorder/dashboard/{{rwy.airfield.FAAcode}}/{{rwy.name}}" class="btn btn-secondary" id="{{rwy.airfield.FAAcode}}/{{rwy.name}}">{{rwy.airfield.FAAcode}}/{{rwy.name}}</a>
        {% endfor %}
    </div>
</div>

    {% block runway%}
    {% endblock%}

    <!-- <script> loadKEND17L(chatSocket, csrf_token) </script>
    <script> rxNextTOMessageKEND17L(chatSocket) </script> -->
    <div id="messages"></div>
    <div id="T6s"></div>

{% endblock %}