{% extends 'AutoRecorder/bootbase.html' %}

{% block title %}Form 355{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">

          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->

          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">!!!!!!!!! -->
            <form class="navbar-nav nav-fill w-100" method="post">
              {% csrf_token %}
              {{ formset.management_form }}
              <!-- <ul class="navbar-nav nav-fill w-100"> -->
                <!-- me-auto mb-2 mb-lg-0"               -->
                    {% for form in formset %}
                      
                      <!-- <li class="nav-item"> </li> -->
                      <li class="nav-item"> 
                        <label>*Acft Type</label> 
                        {{ form.acftType }}
                        <label>Burger King is Hiring</label>
                        {{ form.gotNailed }}
                      </li>
                      <li class="nav-item"> <label>*From</label>{{ form.fromDate }}</li>
                      <li class="nav-item"> <label>*To</label>{{ form.toDate  }}</li>
                      <li class="nav-item"> 
                        <label>Search RSU Crew Member</label>
                        {{ form.search }} 
                        <label>Search Acft Callsign</label>
                        {{ form.callSign }}
                      </li>
                      <!-- <li class="nav-item"> </li> -->
                    
                    {% endfor %}
                              
              <!-- </ul> -->
              <button type="submit" class="btn btn-danger">Filter</button>
            </form>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form> -->
          <!-- </div>!!!!!!!!!!!!!! -->
        </div>
      </nav>
      <div class="card">
        <div class="card-header">
          <strong>RSU Crew Log</strong>
        </div>
        <div class="card-body" style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Runway</th>
                <th scope="col">Controller</th>
                <th scope="col">Observer</th>
                <th scope="col">Spotter</th>
                <th scope="col">Recorder</th>
                <th scope="col">Date/Start Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for crew in RSUcrews %}
                    <tr>
                        <td scope="row">{{crew.id}}</td>
                        <td scope="row">{{crew.runway}}</td>
                        <td scope="row">{{crew.controller}}</td>
                        <td scope="row">{{crew.observer}}</td>
                        <td scope="row">{{crew.spotter}}</td>
                        <td scope="row">{{crew.recorder}}</td>
                        <td scope="row">{{crew.timestamp}}</td>
                    </tr>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          <strong>Completed Sorties</strong>
        </div>
        <div class="card-body" style="overflow-x: scroll;">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Type</th>
          <th scope="col">Tail</th>
          <th scope="col">Callsign</th>
          <th scope="col">Takeoff Time</th>
          <th scope="col">355 Code</th>
          <th scope="col">Comments</th>
          <th scope="col">Final Land Time</th>
          <th scope="col">Solo</th>
          <th scope="col">2-Ship</th>
          <th scope="col">4-Ship</th>
          <th scope="col">Emergency</th>
          <th scope="col">Nature of Emergency</th>
          <th scope="col">Ground Speed</th>
          <th scope="col">Lat</th>
          <th scope="col">Lon</th>
          <th scope="col">Altitude</th>
          <th scope="col">Altitude-Geometric</th>
          <th scope="col">Track</th>
          <th scope="col">Sqawk</th>
          <th scope="col">seen</th>
          <th scope="col">rssi</th>
          <th scope="col">State</th>
          <th scope="col">Last State</th>
          <th scope="col">timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for aircraft in landedAircraft %}
            <tr>
                <th scope="row">{{aircraft.id}}</th>
                <td>{{aircraft.aircraftType}}</th>
                <td>{{aircraft.tailNumber}}</td>
                <td>{{aircraft.callSign}}</td>
                <td>{{aircraft.takeoffTime}}</td>
                <td>{{aircraft.three55Code}}</td>
                <td>{{aircraft.Comments}}</td>
                <td>{{aircraft.landTime}}</td>
                <td>{{aircraft.solo}}</td>
                <td>{{aircraft.formationX2}}</td>
                <td>{{aircraft.formationX4}}</td>
                <td>{{aircraft.emergency}}</td>
                <td>{{aircraft.natureOfEmergency}}</td>
                <td>{{aircraft.groundSpeed}}</td>
                <td>{{aircraft.latitude}}</td>     
                <td>{{aircraft.longitude}}</td>
                <td>{{aircraft.alt_baro}}</td>
                <td>{{aircraft.alt_geom}}</td>
                <td>{{aircraft.track}}</td>
                <td>{{aircraft.squawk}}</td>
                <td>{{aircraft.seen}}</td>
                <td>{{aircraft.rssi}}</td>
                <td>{{aircraft.state}}</td>
                <td>{{aircraft.lastState}}</td>
                <td>{{aircraft.timestamp}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

      {% comment %} <ul>
      {% for aircraft in landedAircraft %}
          {% if True %}
              <li>{{aircraft.callSign}}</li>
          {% else %}
              <li>boom</li>
          {% endif %}    
      {% endfor %}
      </ul> {% endcomment %}
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Active T-6s:</h1>

    <form id="form1">
        <input type="text" name="message">
    </form>

    <div id="messages"></div>

    <div id="T6s"></div>


<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`
    console.log(url)
    
    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data: ', data)
        console.log('Data.type: ', data.type)

        if(data.type === 'lolmessage'){
            let messages = document.getElementById('messages')
            removeAllChildNodes(messages)
            messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}</p>
                                    </div>`)
        }

        if(data.type === 't6Update'){
            let T6s = document.getElementById('T6s')
            removeAllChildNodes(T6s)
            T6s.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}</p>
                                    </div>`)
        }
    }

    let form = document.getElementById('form1')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'lolmessage':message
        }))
    form.reset()
    })

    function removeAllChildNodes(parent) {
    while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
    }
}

</script>

</body>
</html> -->