<div class="card">
  <div class="card-header">
    In Pattern
  </div>
  <div class="card-body" style="overflow-x: scroll;">
    <div class="container-fluid">
      <table class="table table-striped" style="overflow-x: scroll;">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Tail</th>
            <th scope="col">Callsign</th>
            <th scope="col">alt</th>
            <th scope="col">gnd spd</th>
            <th scope="col">T/O</th>
            <th scope="col">Land</th>
            <th scope="col">Form Solo</th>
            <th scope="col">355</th> 
          </tr>
          </thead>
          <tbody id="KEND35R In Pattern">

          </tbody>
        </table>
</div>
</div>
</div>

<div class="card">
  <div class="card-header">
    Taxiing
  </div>
  <div class="card-body" style="overflow-x: scroll;">
      <div class="container-fluid">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Tail</th>
            <th scope="col">Callsign</th>
            <th scope="col">alt</th>
            <th scope="col">gnd spd</th>
            <th scope="col">T/O</th>
            <th scope="col">Land</th>
            <th scope="col">Form Solo</th>
            <th scope="col">355</th> 
          </tr>
          </thead>
          <tbody id="KEND35R Taxiing">

          </tbody>
        </table>
        </div>
        </div>
  </div>
<div class="card">
  <div class="card-header">
    Off Station
  </div>
  <div class="card-body" style="overflow-x: scroll;">
      <div class="container-fluid">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Tail</th>
            <th scope="col">Callsign</th>
            <th scope="col">alt</th>
            <th scope="col">gnd spd</th>
            <th scope="col">T/O</th>
            <th scope="col">Land</th>
            <th scope="col">Form Solo</th>
            <th scope="col">355</th> 
          </tr>
          </thead>
          <tbody id="KEND35R Off Station">

          </tbody>
          </table>
          </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Lost Signal
  </div>
  <div class="card-body" style="overflow-x: scroll;">
      <div class="container-fluid">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Tail</th>
            <th scope="col">Callsign</th>
            <th scope="col">alt</th>
            <th scope="col">gnd spd</th>
            <th scope="col">T/O</th>
            <th scope="col">Land</th>
            <th scope="col">Form Solo</th>
            <th scope="col">355</th> 
          </tr>
          </thead>
          <tbody id="KEND35R Lost Signal">

          </tbody>
        </table>
        </div>
  </div>
</div>

{% load static %}
<script src={% static "AutoRecorder/js/KEND35R-Tables.js"%} type="text/javascript"></script> 

