<!DOCTYPE html>

{% extends 'AutoRecorder/dashboardNew.html' %}

{% block runway %}

<script type="text/javascript">
    var num_errors = 0

    var url = `ws://${window.location.host}/ws/socket-server/`
    console.log(url)

    var displayedAcftTypes = JSON.parse("{{displayedAcftTypes | escapejs}}")
    
    var csrf_token = '{{ csrf_token }}'

    const chatSocket = new WebSocket(url)
    try{
    chatSocket.addEventListener('message', function(e){
        let data = JSON.parse(e.data)
        
        if(data.type == 'rwyUpdate'){
            console.log("rwy meta is: ", data.meta)
        }
        if(data.type == 'rwyUpdate'){
            console.log("runway datafield is: ", data.runway)
        }
    })
    
    } catch {
        num_errors +=1
        var num_errors_str = num_errors.toString()
        
        let error_msg = document.getElementById('error_message')

        error_msg.insertAdjacentHTML('afterbegin', ` 
        
        <div id = ${num_errors_str}>
            <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Error in removeAllChildNodes Function
            </div>
        </div>
        `)
    }


    function removeAllChildNodes(parent) {
        try{
            if(parent != null) {
                if(parent.firstChild != null){
                    while (parent.firstChild) {
                        parent.removeChild(parent.firstChild);
                    }
                }
            }
        } catch {
            num_errors +=1
            var num_errors_str = num_errors.toString()
            
            let error_msg = document.getElementById('error_message')

            error_msg.insertAdjacentHTML('afterbegin', ` 
            
            <div id = ${num_errors_str}>
                <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Error in removeAllChildNodes Function
                </div>
            </div>
            `)
        }
    }

</script>

{% include 'AutoRecorder/Tables.html' %}
<script> 
try{
    load(chatSocket, csrf_token, '{{field.lat}}', '{{field.lon}}', '{{field.FAAcode}}', '{{runway}}', '{{displayedRunwayObject.patternName}}') 
} catch {
    num_errors +=1
    var num_errors_str = num_errors.toString()
    
    let error_msg = document.getElementById('error_message')

    error_msg.insertAdjacentHTML('afterbegin', ` 
    
    <div id = ${num_errors_str}>
        <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Error in load Function
        </div>
    </div>
    `)
}
</script>
<script>
try{
rxNextTOMessage(chatSocket, '{{runway}}') 
} catch {
    num_errors +=1
    var num_errors_str = num_errors.toString()
    
    let error_msg = document.getElementById('error_message')

    error_msg.insertAdjacentHTML('afterbegin', ` 
    
    <div id = ${num_errors_str}>
        <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Error in rxNextTOMessage Function call from scripit
        </div>
    </div>
    `)
}

</script>
{% load static %}
<script type="text/javascript">
try{
// if (feature.properties.styleUrl === '#PolyStyleOGreen') {
//     if (feature.geometry.type === 'LineString') {
//         return {
//             color: '#ff6e6e6e',
//             weight: 4
//         }
//     }
// }

    // omnivore.kml('{% static "AutoRecorder/kml/Eckho Recovery.kml" %}').addTo(map)
    // omnivore.kml('{% static "AutoRecorder/kml/RoughPatternPoints.kml" %}').addTo(map)
    //omnivore.kml('{% static "AutoRecorder/kml/Vance GPS MOAs.kml" %}', null, myCustomGroup).addTo(map) 
    // omnivore.kml('{% static "AutoRecorder/kml/FOXTR Recoery.kml" %}').addTo(map)
    console.log("{{displayedRunwayObject.kmlPatternFile.url}}")
    omnivore.kml("{{displayedRunwayObject.kmlPatternFile.url}}").addTo(map)
    map.invalidateSize() //?????????????????????????????????????????????????????????
    var myCustomGroup

} catch {
    num_errors +=1
    var num_errors_str = num_errors.toString()
    
    let error_msg = document.getElementById('error_message')

    error_msg.insertAdjacentHTML('afterbegin', ` 
    
    <div id = ${num_errors_str}>
        <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Error loading KML Files
        </div>
    </div>
    `)
}

</script>

{% for file in additionalKML %}
    <script> 
    // DO NOT CORRECT THE ERRORS IN THIS SCRIPT! THE DJANGO TEMPLATE LANGUAGE WILL REPLACE BRACKETED ITEMS WITH VALID CODE!
        
        try{
            let myCustomGroup{{file.pk}} = L.geoJSON(null, {
                style: {
                            color: '{{file.color}}',
                            weight: {{file.weight}}
                        }
            });

            // function getStyle(feature) {
            //     return {
            //                 color: '#{{file.color}}',
            //                 weight: {{file.transparency}}
            //             }
            // }

            omnivore.kml('{{file.file.url}}', null, myCustomGroup{{file.pk}}).addTo(map)

        } catch {
            num_errors +=1
            var num_errors_str = num_errors.toString()
            
            let error_msg = document.getElementById('error_message')

            error_msg.insertAdjacentHTML('afterbegin', ` 
            
            <div id = ${num_errors_str}>
                <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Error in loading additional KML files
                </div>
            </div>
            `)
        }
    </script>
{% endfor %}

<script>
try{
map.invalidateSize()
} catch {
            num_errors +=1
            var num_errors_str = num_errors.toString()
            
            let error_msg = document.getElementById('error_message')

            error_msg.insertAdjacentHTML('afterbegin', ` 
            
            <div id = ${num_errors_str}>
                <div class="alert alert-danger" role="alert" onclick = "removeAllChildNodes(document.getElementById(${num_errors_str}))">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Error in Map Invalidate Size Script
                </div>
            </div>
            `)
        }

</script>



        <div id="messages"></div>
        <div id="T6s"></div>

{% endblock %}