<!DOCTYPE html>

{% extends 'AutoRecorder/dashboardNew.html' %}

{% block runway %}

<script type="text/javascript">
    var url = `ws://${window.location.host}/ws/socket-server/`
    console.log(url)

    var displayedAcftTypes = JSON.parse("{{displayedAcftTypes | escapejs}}")
    
    var csrf_token = '{{ csrf_token }}'

    const chatSocket = new WebSocket(url)

    chatSocket.addEventListener('message', function(e){
        let data = JSON.parse(e.data)
        
        if(data.type == 'rwyUpdate'){
            console.log("rwy meta is: ", data.meta)
        }
        if(data.type == 'rwyUpdate'){
            console.log("runway datafield is: ", data.runway)
        }
    }

    )

    
    function removeAllChildNodes(parent) {
        if(parent != null) {
            if(parent.firstChild != null){
                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }
            }
        }
    }

</script>

{% include 'AutoRecorder/Tables.html' %}
<script> 
load(chatSocket, csrf_token, '{{field.lat}}', '{{field.lon}}', '{{field.FAAcode}}', '{{runway}}', '{{displayedRunwayObject.patternName}}') 
</script>
<script> rxNextTOMessage(chatSocket, '{{runway}}') </script>
{% load static %}
<script type="text/javascript">


// if (feature.properties.styleUrl === '#PolyStyleOGreen') {
//     if (feature.geometry.type === 'LineString') {
//         return {
//             color: '#ff6e6e6e',
//             weight: 4
//         }
//     }
// }

    // omnivore.kml('{% static "AutoRecorder/kml/Eckho Recovery.kml" %}').addTo(map)
    // omnivore.kml('{% static "AutoRecorder/kml/RoughPatternPoints.kml" %}').addTo(map)
    //omnivore.kml('{% static "AutoRecorder/kml/Vance GPS MOAs.kml" %}', null, myCustomGroup).addTo(map) 
    // omnivore.kml('{% static "AutoRecorder/kml/FOXTR Recoery.kml" %}').addTo(map)
    console.log("{{displayedRunwayObject.kmlPatternFile.url}}")
    omnivore.kml("{{displayedRunwayObject.kmlPatternFile.url}}").addTo(map)
    map.invalidateSize() //?????????????????????????????????????????????????????????
    var myCustomGroup
     
</script>
{% for file in additionalKML %}
    <script> 
    // DO NOT CORRECT THE ERRORS IN THIS SCRIPT! THE DJANGO TEMPLATE LANGUAGE WILL REPLACE BRACKETED ITEMS WITH VALID CODE!
        let myCustomGroup{{file.pk}} = L.geoJSON(null, {
            style: {
                        color: '{{file.color}}',
                        weight: {{file.weight}}
                    }
        });

        // function getStyle(feature) {
        //     return {
        //                 color: '#{{file.color}}',
        //                 weight: {{file.transparency}}
        //             }
        // }

        omnivore.kml('{{file.file.url}}', null, myCustomGroup{{file.pk}}).addTo(map)
    </script>
{% endfor %}
<script>map.invalidateSize()</script>



        <div id="messages"></div>
        <div id="T6s"></div>

{% endblock %}